@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.background-color-dot {
  background-color: #090B16;
  background-image:
    radial-gradient(circle at 10% 20%, white 1px, transparent 0),
    radial-gradient(circle at 30% 50%, white 1px, transparent 0),
    radial-gradient(circle at 70% 80%, white 1px, transparent 0),
    radial-gradient(circle at 90% 10%, white 1px, transparent 0),
    radial-gradient(circle at 50% 30%, white 1px, transparent 0),
    radial-gradient(circle at 20% 70%, white 1px, transparent 0),
    radial-gradient(circle at 15% 25%, white 1px, transparent 0),
    radial-gradient(circle at 35% 55%, white 1px, transparent 0),
    radial-gradient(circle at 65% 85%, white 1px, transparent 0),
    radial-gradient(circle at 85% 15%, white 1px, transparent 0),
    radial-gradient(circle at 55% 35%, white 1px, transparent 0),
    radial-gradient(circle at 25% 75%, white 1px, transparent 0),
    radial-gradient(circle at 5% 10%, white 1px, transparent 0),
    radial-gradient(circle at 45% 45%, white 1px, transparent 0),
    radial-gradient(circle at 75% 75%, white 1px, transparent 0),
    radial-gradient(circle at 25% 25%, white 1px, transparent 0),
    radial-gradient(circle at 55% 55%, white 1px, transparent 0),
    radial-gradient(circle at 75% 25%, white 1px, transparent 0),
    radial-gradient(circle at 15% 65%, white 1px, transparent 0),
    radial-gradient(circle at 35% 85%, white 1px, transparent 0),
    radial-gradient(circle at 50% 10%, white 1px, transparent 0),
    radial-gradient(circle at 70% 40%, white 1px, transparent 0),
    radial-gradient(circle at 90% 60%, white 1px, transparent 0),
    radial-gradient(circle at 10% 80%, white 1px, transparent 0),
    radial-gradient(circle at 30% 20%, white 1px, transparent 0),
    radial-gradient(circle at 50% 50%, white 1px, transparent 0),
    radial-gradient(circle at 70% 30%, white 1px, transparent 0),
    radial-gradient(circle at 90% 80%, white 1px, transparent 0),
    radial-gradient(circle at 10% 40%, white 1px, transparent 0),
    radial-gradient(circle at 30% 60%, white 1px, transparent 0),
    radial-gradient(circle at 50% 80%, white 1px, transparent 0),
    radial-gradient(circle at 70% 10%, white 1px, transparent 0),
    radial-gradient(circle at 90% 40%, white 1px, transparent 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#add-new-package-select .ant-select-selector {
  background: rgba(255, 255, 255, 0.1) !important;
}

#add-new-package-select .ant-select-selection-item {
  color: white !important;
}

#add-new-package-select .ant-select-selection-placeholder{
  color: rgba(255, 255, 255, 0.5) !important;
}